h2 {
  font-size: 2em;
  font-weight: 800;
}
strong {
  font-weight: 700;
}
td strong {
  font-weight: 700;
  padding-right: 25px;
}

table.striped tbody tr:nth-child(odd) {
  background-color: #e0f7fa;
}
