<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Traffic Spy</title>
  </head>
  <body>
    <div class="container">
      <!-- no actual CSS files yet -->
      <%= yield %>
    </div>
  </body>
</html>
